pool:
  name: bamboo_agent
  agent: any

parameters:
  - name: env
    displayName: Environment
    type: string
    default: dev
    values:
      - dev
      - uat
      - prod



jobs:
  ###########################Build ###################################
  - job: BuildPush
    displayName: "Build and Push to SA"
    steps:
    #  - task: Bash@3
    #    inputs:
    #       targetType: 'inline'
    #       script: |
    #            mvn -X clean
    #            TMPDIR=$(Build.Repository.LocalPath) sh <(curl -fsS https://tools.veracode.com/veracode-cli/install)
    #            $(Build.Repository.LocalPath)/veracode package -s . -o veracode-artifact --trust -d
    #    displayName: 'Veracode AutoPackager'
    #  - task: Veracode@3
    #    inputs:
    #         ConnectionDetailsSelection: 'Service Connection'
    #         AnalysisService: 'veracode-insightsterminal-ADSS-Campaigns'
    #         veracodeAppProfile: 'ADSS Campaigns'
    #         version: '$(Build.SourceVersion)'
    #         filepath: '$(Build.Repository.LocalPath)/veracode-artifact/'
    #         failBuildIfUploadAndScanBuildStepFails: true
    #         #optargs: '-include *.war,*.jar'
    #         optargs: 'scanallnonfataltoplevelmodules true'
    #         createProfile: true
    #         failBuildOnPolicyFail: true
    #         maximumWaitTime: '360'

     - script: "pnpm install"
       workingDirectory: $(Build.SourcesDirectory)
       displayName: "pnpm install"

     - script: "pnpm build"
       workingDirectory: $(Build.SourcesDirectory)
       displayName: "pnpm build"

     - publish: $(Build.SourcesDirectory)/out
       artifact: WebApp
